.About-headings {
    padding: 30px 0px;
    text-align: center;
    font-family: emoji;
    font-size: 3rem;
}

.about {
    padding: 0px 0px;
    text-align: center;
    font-family: emoji;
    /* font-size: 2rem; */
}

.session-cards {
    width: 80%;

}

.Session-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 84%;
    margin: auto;
}

.about-Container {
    padding: 30px 1px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
}

.about-Items {
    margin: 15px;
    width: 320px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.about-icons {
    padding: 15px 1px;
    font-size: 1.4rem;
    display: flex;
    /* justify-content: center; */
    /* color: #f57603 !important; */
    gap: 20px;

}


.data-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.data-items-content {
    margin: 15px;
    width: 518px;
    /* background: white; */
    padding: 26px 20px;
    border-radius: 10px;

}

.data-right-items {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.about-2items-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.about-Items-btm {
    width: 470px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 6px 25px;
    /* margin: 12px auto; */

}