.header-container{
    background-color: #fefafa;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    position: fixed;
    align-items: center;
    z-index: 5;
}
.logo-img{
    width: 71px;
}
.nav-link-wraper{
    display: flex;
    gap: 2%;
    justify-content: center;
    width: 45%;
    height: fit-content;

}


.nav-link {
    text-decoration: none;
    color: #161616;
    margin: 8px 0px;
    /* border: 1px solid #5e5b5b; */
    /* background-color: white; */
    padding: 5px 18px;
    border-radius: 6px;

    
}
.nav-link-dropdown {
    text-decoration: none;
    color: #161616;
    margin: 0px 16px;
    /* width: 100px; */
    /* display: none; */
    border: 1px solid #5e5b5b;
    /* background-color: white; */
    padding: 8px 12px;


}
.dropdown-btn{
    display: none;
}

@media (max-width: 630px) {
    .nav-link{
        display: none;
        width: 100%;
    }
    .hide-btn{
        display: none;
    }
    .dropdown-btn{
        display: block;
    }
    .nav-link-wraper{
        width: 0%;
    }
    
    
}
.active-link {
    /* box-shadow: 0px 0px 7px -1px; */
    background-color: #ec5b53;
    color: #ffffff;
    margin: 8px 0px;
    padding: 5px 18px;
    border-radius: 4px;
}
