.footer {

    background-color: #002d5b;
    text-align: center;
    padding: 60px 1px;
    color: #f57603 !important;
}

.home-footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    color: #f57603 !important;
}

.stack-logo {

    width: 32px;

}

.footer-items {
    width: 350px;
    margin: 15px auto;
    color: #f57603 !important;
}

.footer-icons {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 31px;
    color: #f57603 !important;

}

.footer-icons>a {

    color: #f57603 !important;

}